/.github                export-ignore
/.devcontainer          export-ignore
/assets                 export-ignore
/build                  export-ignore
/tests                  export-ignore
/.gitattributes         export-ignore
/.gitignore             export-ignore
/package.json           export-ignore
/package-lock.json      export-ignore
/phpstan.neon.dist      export-ignore
/phpunit.xml.dist       export-ignore
/RoboFile.php           export-ignore
/www/html/assets/*.map  export-ignore

# Add commit/tag name to version.inc.php
/www/version.inc.php    export-subst
