composer.site.json
composer.lock
.phpunit.result.cache

node_modules/

log/
tests/frontend/*.html
tests/frontend/*.txt
tests/frontend/*-return.yml
tests/temp
tmp/
www/.htaccess
www/config.php
www/vendor/
www/html/.sass-cache/
www/html/assets/*.map
