// https://github.com/tailwindlabs/tailwindcss-forms

@use 'util';

$background-color: #eee !default;
$border-color: #ccc !default;
$hover-color: #888 !default;
$focus-color: var(--brand-color) !default;
$disabled-color: #888 !default;
$placeholder-color: #888 !default;
$button-border-color: #ccc !default;
$default-button-color: var(--brand-color) !default;
$default-button-border-color: var(--brand-color) !default;
$error-color: var(--red) !default;
$valid-color: var(--green) !default;

/* Box-like widgets */
@include util.form-all-boxes {
  appearance: none;
  background-color: #ffffff;
  border: 1px solid $border-color;
  @include util.padding-x(util.size(2));
  @include util.padding-y(util.size(1));
  font-size: util.font-size(base);
  line-height: util.line-height(base);

  &.is-error { border-color: $error-color !important; }
  &.is-valid { border-color: $valid-color; }

  &:focus { 
    outline-width: 0;
    border-color: $focus-color; 
  }
}

@include util.form-placeholder {
  color: $placeholder-color;
  opacity: 1;
}

/* Webkit fixes */
::-webkit-datetime-edit-fields-wrapper,
.form-input::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}
        
// Unfortunate hack until https://bugs.webkit.org/show_bug.cgi?id=198959 is fixed.
// This sucks because users can't change line-height with a utility on date inputs now.
// Reference: https://github.com/twbs/bootstrap/pull/31993
::-webkit-date-and-time-value,
.form-input::-webkit-date-and-time-value {
  min-height: 1.5em;
}
      
// In Safari on macOS date time inputs are 4px taller than normal inputs
// This is because there is extra padding on the datetime-edit and datetime-edit-{part}-field pseudo elements
// See https://github.com/tailwindlabs/tailwindcss-forms/issues/95
::-webkit-datetime-edit,
::-webkit-datetime-edit-year-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute-field,
::-webkit-datetime-edit-second-field,
::-webkit-datetime-edit-millisecond-field,
::-webkit-datetime-edit-meridiem-field,
.form-input::-webkit-datetime-edit,
.form-input::-webkit-datetime-edit-year-field,
.form-input::-webkit-datetime-edit-month-field,
.form-input::-webkit-datetime-edit-day-field,
.form-input::-webkit-datetime-edit-hour-field,
.form-input::-webkit-datetime-edit-minute-field,
.form-input::-webkit-datetime-edit-second-field,
.form-input::-webkit-datetime-edit-millisecond-field,
.form-input::-webkit-datetime-edit-meridiem-field {
  padding-top: 0;
  padding-bottom: 0;
}

/* Select boxes */
@include util.form-all-select {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  background-position: right util.size(2) center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: util.size(10);
  print-color-adjust: exact;
}

@include util.form-multi-select {
  background-image: initial;
  background-position: initial;
  background-repeat: unset;
  background-size: initial;
  padding-right: util.size(3);
  print-color-adjust: unset;
}

/* Check boxes and radio buttons */
@include util.form-check-radio {
  @include util.margin-y(util.size(2));
}

/* File uploads */
[type='file'] {
  background: unset;
  border-width: 0;
  padding: 0;
  font-size: unset;
  line-height: inherit;

  &:focus { outline: 1px solid ButtonText, 1px audo -webkit-focus-ring-color; }
}

/* Buttons */
@include util.form-button {
  @include util.padding-x(util.size(3));
  @include util.padding-y(util.size(1));
  margin-inline-end: util.size(2);
  margin-block-end: util.size(2);

  background-color: $background-color;
  border: 1px solid $border-color;
  cursor: pointer;
  font-weight: util.font-weight(medium);

  &:last-child { margin-inline-end: 0; }

  &:hover { border-color: $hover-color; }
  &:focus { border-color: $focus-color; }
  &:active { box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset; }

  &[disabled] {
    background-color: $background-color !important;
    border-color: $border-color !important;
    color: $disabled-color !important;
  }

  &.is-default {
    color: white;
    background-color: $default-button-color;
    border-color: $default-button-border-color;

    &:hover, &:focus { background-color: $default-button-border-color; }
  }
}

/* Textbox-button-label combinations */
// These are combinations of a main control (which can be anything selected
// by util.form-textbox) and one or two side controls (which can be a span,
// a button, or a select box with the class form-combo--side)
//
// .is-subtle can be used on a side control to make it less prominent
%-form-combo-side-controls {
  flex: 0 0 auto;
  &:not(:first-child) { margin-left: -1px; }
  &:not(:last-child) { margin-right: -1px; }
  &:hover, &:focus { z-index: 10; }
}

%-form-combo-display { display: inline-block; }

.form-combo {
  display: inline-flex;
  align-items: stretch;

  @include util.form-combo-controls { @extend %-form-combo-display; }

  // Main control
  @include util.form-combo-main-controls {
    z-index: 0;
  }

  // Side controls
  .form-combo--side {
    @extend %-form-combo-side-controls;
  }
  @include util.form-button {
    @extend %-form-combo-side-controls;
    margin-inline-end: 0;
    margin-block-end: 0;

    &.is-subtle {
      color: initial;
      font-size: util.font-size(sm);
      @include util.padding-x(util.size(2));
    }
  }

  span {
    flex: 0 0 auto;
    @include util.padding-x(util.size(2));
    @include util.padding-y(util.size(1));
    border: 1px solid $border-color;
    cursor: default;
    &:not(:first-child) { border-left-width: 0; }
    &:not(:last-child) { border-right-width: 0; }
  }

  // .is-subtle
  .is-subtle {
    color: $placeholder-color;
    background-color: $background-color;
    font-weight: util.font-weight(normal);
  }
}
