@use 'scaffold/util';

/* Set global font size ---------------------------------------------------- */
html { font-size: 14px; }

/* General elements -------------------------------------------------------- */
h1 {
  font-weight: normal;
  font-size: util.font-size('2xl');
  color: var(--grey-400);
}

a {
  border-bottom: 1px solid var(--grey-900);
  color: var(--brand-color);
  text-decoration: none !important;
  font-weight: util.font-weight(bold);

  &:visited {
    border-color: var(--grey-900);
    color: var(--brand-color-dark);
  }
  &:focus, &:hover {
    border-color: var(--brand-color-light);
    color: var(--brand-color-light);
  }
}

table {
    border-collapse: collapse;
    margin: 0 0 1em 0;
    width: 100%;
}

td, th {
    border-bottom: 1px solid var(--grey-900);
    text-align: left;
    vertical-align: top;
    padding: 5px 5px;
}
th {
    border-bottom: 0px;
    background-color: var(--grey-400);
    color: #FFFFFF;
    white-space: nowrap;
    font-weight: bold;
}

pre {
    border:1px solid var(--grey-900);
    padding: 5px;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: scroll;
}
pre.code { white-space: pre; overflow: initial; }