@use 'scaffold/util';

@mixin dialog {
  .is-dialog-page & { @content; }
}

/* Page layout ------------------------------------------------------------- */
/*.sticky { position: fixed; }*/
#header {
    background-color: #666666;
    color: #CCCCCC;
    padding: 0px 10px;
    line-height: 1;
}
#header-inner { margin: 0px auto; max-width: 1140px; }

#header h1 {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0.5em 0;
    color: #CCCCCC;
    letter-spacing: 0;
}

#header h1 a {
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: none;
}

#nav-toggle, #logo { float: left; padding: 5px 0px; }
#nav-toggle {
    padding: 5px;
    border-right: 1px solid #FFFFFF;
    margin-right: 0.5em;
    cursor: pointer;
    display: none;
}
#nav-toggle img { padding: 0.5em; }

#nav {
    background-color: #666666;
    color: #CCCCCC;
    padding: 5px 10px;
}
#nav-inner { margin: 0px auto; max-width: 1140px; }
#nav ul {
    margin: 0;
    padding: 0;
    text-align: left;
}
#nav li {
    display: inline;
    list-style-type: none;
}
#nav a {
    background-color: #888888;
    padding: 6px 8px;
    border-width: 0;
    color: #FFFFFF;
}
#nav ul#nav-left { float: left; }
#nav ul#nav-right { float: right; }

#user {
    float: right;
    margin: 0.5em 0;
    padding: 5px 0;
}
.logged-in-as .identity {
    padding-left: 20px;
    background: transparent url(../user.png) no-repeat top left;
    color: #FFFFFF;
}
.logged-in-as a {
    color: #FFFFFF;
    border-bottom-color: #FFFFFF;
    font-weight: normal;
}
#logout:before { content: " · "; }

#user-toggle {
    float: right;
    padding: 5px;
    margin-left: 0.5em;
    border-left: 1px solid #FFFFFF;
    cursor: pointer;
    display: none;
}
#user-toggle img { padding: 0.5em; }

/* Content ------------------------------------------------------ */
.content--main .wrapper {
  @include dialog {
    background-color: white;

    @include util.breakpoint('sm') {
      @include util.margin-y(util.size(8));
      @include util.padding-y(util.size(4));
      @include util.container('sm');
      border: 1px solid var(--grey-900);
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }

    @include util.breakpoint('md') { @include util.margin-y(util.size(16)); }
    @include util.breakpoint('lg') { @include util.margin-y(util.size(24)); }
  }
}

/* Footer ------------------------------------------------------- */
.content--footer {
  margin-top: util.size(8);
  text-align: right;
  font-size: util.font-size('sm');
  color: var(--grey);

  address { font-style: normal }
  a { 
    color: var(--grey-700);
    &:hover { 
      color: var(--grey-400);
      border-bottom-color: var(--grey-400); 
    }
  }
}


#content {
    margin: auto;
    padding: 1em 10px;
    max-width: 1140px;
    clear: both;
}

/* Dialog pages ------------------------------------------------- */
body.is-dialog-page { background: var(--grey-950); }
.is-dialog-page {
  @include util.form-all-boxes { width: 100%; }
}
.is-dialog-page form { padding-right: 2px; } /* Used to adjust the padding in text boxes */
//.is-dialog-page .form-item { padding-right: 1em; } /* Used to adjust the padding in text boxes */

/* Specific elements ------------------------------------------------------- */
.realm, .site {
    padding-left: 20px;
    background: transparent url(../world.png) no-repeat top left;
}
.app {
    padding-left: 20px;
    background: transparent url(../application.png) no-repeat top left;
}
.device {
    padding-left: 20px;
    background: transparent url(../drive.png) no-repeat top left;
}
.url-elide { color: #999999; }

span.last-time { display: none; }

.message {
    border: 1px solid #666666;
    border-radius: 4px;
    padding: 0 10px;
    background: #DDDDDD;
    margin-bottom: 10px;
}
.message p { line-height: 1; }

.alert {
  @include util.padding-y(util.size(2));
  background-color: var(--red-400);
  color: white;
  text-align: center;
}

.unsecure {
    border: 1px solid #AAAA11;
    background: #FFFFDD;
}
.unsecure p { padding-left: 20px; background: transparent url(../lock-open.png) no-repeat top left; }
.secure {
    border: 1px solid #44AA11;
    background: #EEFFDD;
}
.secure p { padding-left: 20px; background: transparent url(../lock.png) no-repeat top left; }

.block {
    background-color: #EEEEEE;
    margin-bottom: 20px;
}
.block-header {
    background-color: #666666;
    margin:0 0 5px;
    padding: 5px 10px;
}
.block-header h2 {
    font-size: 1.2em;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    border-top-width: 0;
}
.block-header-links {
    float: right;
    font-size: 0.9em;
    text-align: right;
    white-space: nowrap;
}
.block-header-links a {
    color: #FFFFFF;
    border-bottom-color: #FFFFFF;
    font-weight: normal;
}
.block-content {
    padding: 5px 10px;
}
.block-content p {
    margin: 0 0 5px 0;
    padding: 0;
}
.block-content h3 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 5px 0 0 0;
}

#discovery label { display: inline; }

.otp-key {
    font-size: 18px;
    font-family: "Bitstream Vera Sans Mono","Courier New",monospace;
    margin: 5px;
}
.otp-letters { padding: 0 2px; }
#otp-key-qr { padding: 16px 0; }
input.otp { -moz-appearance:textfield; }
input.otp::-webkit-outer-spin-button,
input.otp::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Dialogs and dialog pages */
.is-dialog-page #content {
    padding-top: 50px;
    max-width: 400px;
}
.is-dialog-page #content-inner {
    padding: 20px;
    border: 10px solid #DDDDDD;
    background: #FFFFFF;
}



/* Mobile devices ---------------------------------------------------------- */
@media only screen and (max-width: 767px) {
    #logo .version { display: none; }

    #nav-toggle, #user-toggle { display: block; }
    #nav-toggle.expand, #user-toggle.expand { background-color: #888888; }

    #nav {
        display: none;
        position: absolute;
        float: none;
        left: 10px;
        top: 40px;
        padding: 0;
    }
    #nav.expand { display: block; }
    #nav li { display: block; }
    #nav a { display: block; }

    #user {
        display: none;
        position: absolute;
        float: none;
        right: 10px;
        top: 40px;
        background-color: #888888;
        margin: 0;
        padding: 0 8px;
    }
    #user.expand { display: block; }
    #user span {
        display: block;
        padding: 6px 0;
    }
    #logout:before { content: ""; }
    
    .dialog-page { background: #FFFFFF; }
    .dialog-page #content { padding-top: 10px; }
    .dialog-page #content-inner {
        padding: 0px;
        border-width: 0px;
    }
}


/* Upgrade pages ----------------------------------------------------------- */

.upgrade-version {
    font-weight: bold;
    font-size: 1.5em;
}

.original-version { color: #666666; }
.this-version { color: #4A80ED; }

.upgrade-error {
    border: 1px solid #666666;
    border-radius: 4px;
    padding: 0 10px;
    background: #DDDDDD;
    margin-bottom: 10px;
    display: none;
}
.upgrade-error p { line-height: 1; }

.upgrade-results {
    overflow: auto;
    height: 200px;
    border: 1px solid #666666;
    background-color: #EEEEEE;
}
