@use 'scaffold/util';
@use 'sass:map';

/* ----- Wrappers --------------------------------------- */
.wrapper {
  width: 100%;
  @include util.margin-x(auto);
  @include util.padding-x(util.size(6));

  @each $bp in map.keys(util.$breakpoint-presets) {
    @include util.breakpoint($bp) { @include util.container($bp); }
  }
}

/* ----- Forms ------------------------------------------ */
.form-item { @include util.margin-y(util.size(4)); }

label {
  display: block;
  font-weight: util.font-weight(bold);
  @include util.padding-y(util.size(1));

  table & { padding: 0; }
}
label.option { font-weight: normal; }

.form-help {
  @include util.margin-y(util.size(1));
  @include util.text-size(sm);
  a { border-bottom-width: 0; }
}

@include util.form-all-boxes {
  // to be reviewed
  display: inline-block;
  @include util.padding-y(util.size(2));
  border-radius: 2px;
}
@include util.form-textbox { @include util.padding-x(util.size(2)); }
@include util.form-textarea { @include util.padding-x(util.size(2)); }
@include util.form-all-select { padding-left: util.size(2); }

@include util.form-button {
  padding: util.size(2) util.size(4);
  border-radius: 2px;
  vertical-align: middle;
  font-weight: util.font-weight(bold);

  &:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
  }

  &.is-default {
    font-weight: util.font-weight(bold);
  }
}

@include util.form-check-radio {
  @include util.margin-y(util.size(2));
  margin-inline-end: util.size(2);
  &:focus { outline: 1px auto var(--brand-color); }

  table & { margin: 0; }
}

.form-combo {
  @include util.form-combo-controls {
    border-radius: 0; 
    &:first-child { border-radius: 2px 0 0 2px; }
    &:last-child { border-radius: 0 2px 2px 0; }
  }

  span { @include util.padding-y(util.size(2)); }
  @include util.form-button { @include util.padding-y(util.size(2)); }
}

.form-button-group {
  display: flex;
  @include util.form-button { flex-grow: 1; }
}

.form-divider {
  display: flex;
  align-items: center;
  //text-transform: uppercase;
  color: var(--grey-400);

  &::before, &::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--grey-800);
  }
  &::before { margin-right: util.size(2); }
  &::after { margin-left: util.size(2); }
}

/* ----- Badges ----------------------------------------- */
.badge {
  @include util.padding-x(util.size(2.5));
  @include util.padding-y(util.size(0.5));
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  font-size: util.font-size(xs);
  margin-inline-end: util.size(2);
}

/* ----- Table lists ------------------------------------ */
.table-list {
  tr.table-list-item { 
    border-bottom: 1px solid var(--grey-900); 
    &.u-first { border-top: 1px solid var(--grey-900); }
  }
  td { border-bottom: 0px; }
  td.table-list-item--actions {
    text-align: right;
    vertical-align: middle;
  }
  .table-list-item--description { color: var(--grey-400); }
  .table-list-item--details {
    margin-top: util.size(2);
    color: var(--grey-400);
  }
}

/* ----- Info panes ------------------------------------- */
.info-pane {
  @include util.margin-y(util.size(4));
  button {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-inline-end: 0;
    margin-block-end: 0;
    border-width: 0;
    background: transparent;
    font-weight: util.font-weight(medium);
    font-size: util.font-size('lg');
    color: var(--grey-400);
    svg, span { vertical-align: middle; }
  }
}

/* ----- Client URLs ------------------------------------ */
// getDisplayHTML display_html
.url-elide { color: var(--grey-700); }

/* ----- Loading spinners ------------------------------- */
.loading-spinner {
  margin: util.size(8) auto;
  border: util.size(2) solid var(--grey-950);
  border-top-color: var(--grey-700);
  border-radius: 50%;
  width: util.size(14);
  height: util.size(14);
  animation: spin 2s linear infinite;
}
.loading-spinner.is-large {
  border-width: util.size(4);
  width: util.size(30);
  height: util.size(30);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}