.upgrade-version {
    font-weight: bold;
    font-size: 1.5em;
}

.original-version { color: #666666; }
.this-version { color: #4A80ED; }

.upgrade-error {
    border: 1px solid #666666;
    border-radius: 4px;
    padding: 0 10px;
    background: #DDDDDD;
    margin-bottom: 10px;
    display: none;
}
.upgrade-error p { line-height: 1; }

.upgrade-results {
    overflow: auto;
    height: 200px;
    border: 1px solid #666666;
    background-color: #EEEEEE;
}
