name: Continuous integration tests

on: [ push, pull_request ]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions:
          - 7.2
          - 7.3
          - 7.4
          - 8.0
    name: Tests on PHP ${{ matrix.php-versions }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: bz2, openssl, hash, gmp
          tools: composer

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: "~/.composer/cache"
          key: "php${{ matrix.php-versions }}-composer-${{ hashFiles('**/composer.json') }}"
          restore-keys: "php${{ matrix.php-versions }}-composer-"

      - name: Install dependencies
        run: composer install

      - name: Run tests
        run: composer test
